:root {
	--primary-color: #009f77;
	--secondary-color: #fff;
	--third-color: #294283;
	--accent-color: #ae55e9;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	background-color: var(--secondary-color);
	display: grid;
	grid-template-columns: 5% 1fr 5%;
}

h1,
h2 {
	color: var(--third-color);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.button-primary {
	padding: 16px;
	font-weight: bold;
	border: none;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	color: var(--secondary-color);
	background-color: var(--accent-color);
	cursor: pointer;
}

.button-secondary {
	padding: 16px;
	border: none;
	cursor: pointer;
	background-color: var(--accent-color);
}

.button-no-bg {
	padding: 16px;
	font-weight: bold;
	border: none;
	color: var(--secondary-color);
	background-color: transparent;
	cursor: pointer;
}

/* ----- HEADER ----- */

header {
	grid-column: 1/4;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__logo {
	width: 300px;
}

.header__info {
	padding: 12px 5% 0 5%;
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

.header__info h1 {
	color: var(--secondary-color);
}

/* ----- MAIN ----- */

main {
	margin-top: 44px;
	grid-column: 1/4;

	display: grid;
	grid-template-columns: 5% 1fr 5%;
}

/* ----- ABOUT US ----- */

.about-us {
	grid-column: 2/3;
}

.about-us__info-one div button:nth-child(2) {
	color: var(--third-color);
}

.about-us__info-two {
	margin-top: 32px;
}

.img-bg {
	width: 100%;
	height: 200px;
	background-image: url('../assets/example.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.about-us__info-three {
	width: 100%;
}

.about-us__info-three button {
	width: 100%;
	margin: 0 auto;
}

/* ----- SERVICES ----- */
.services {
	grid-column: 1/4;
}

.services__title {
	width: 100%;
	padding: 0 5%;
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

.services__cards-wrapper {
	padding: 0 5%;
}

.services__card {
	background-color: var(--secondary-color);
}

.services__card img {
	width: 100%;
}

.swiper {
	width: 320px;
}

/* ----- Contact ----- */
.contact {
	grid-column: 1/4;
}

.contact__title {
	width: 100%;
	padding: 0 5%;
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

.contact-call {
	text-align: center;
}

.contact-call ul {
	width: 155px;
	margin: 0 auto;
}

.contact-call ul li {
	display: flex;
	align-items: center;
}

.contact-call .call-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 24px;
	background-image: url('../assets/call-icon.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.contact-call .whatsapp-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url('../assets/whatsapp-icon.svg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.contact-location {
	margin-top: 32px;
	padding: 0 5%;
	text-align: center;
}

/* ----- MEDIA QUERIES ----- */

@media only screen and (min-width: 768px) {
	body {
		grid-template-columns: 10% 1fr 10%;
	}

	.header__info {
		padding: 12px 10% 0 10%;
	}
}
